<!DOCTYPE >
<html >
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>照片墙</title>
	<link rel="stylesheet" type="text/css" href="./template/css/index.css"/>
</head>
<body>
	<div class="headerWrap" style="margin-top: 20px;">
		<div class="headerBox">
			<p class="headerTitle">照片墙</p>
			<p class="header_op">
				<a href="index.php?a=upload">上传照片</a>
			</p>
		</div>
	</div>
	<div class="imageWrap">
		<div class="imageBox">
			<ul class="ul_imgs">
				<?php foreach($data as $k=>$v): ?>
				<li class="li_img">
					<div class="container">
						<a class="a_img" href="<?php echo $v['pic']?>">
							<img class="img" src="<?php echo $v['pic'];?>" alt="" />
						</a>

					</div>
				</li>
				<?php endforeach ?>
			</ul>
		</div>
	</div>
</body>
</html>